@keyframes grain {
	0% {
		transform: translate(0, 0)
	}

	to {
		transform: translate(-10%, -10%)
	}
}

:root {
	--green: #00cc6e;
	--dark: #0a0a0a;
	--light: #f0f0f0;
	--noise: url("noise.webp");
	--font-main: "VT323", monospace;
	--space-xs: 0.5rem;
	--space-sm: 1rem;
	--space-md: 2rem;
	--space-lg: 3rem;
	--space-xl: 4rem;
	--step--2: clamp(0.57rem, 0.55rem + 0.11vw, 0.67rem);
	--step--1: clamp(0.83rem, 0.78rem + 0.2vw, 1rem);
	--step-0: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
	--step-1: clamp(1.125rem, 1rem + 0.5vw, 1.5rem);
	--step-2: clamp(1.5rem, 1.25rem + 1vw, 2.25rem);
	--step-3: clamp(2.25rem, 2rem + 1.5vw, 3.75rem);
	--step-4: clamp(3.75rem, 3rem + 2vw, 6.25rem);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-main);
	background-color: var(--dark);
	color: var(--light);
	overflow-x: hidden;
	cursor: url("cursor.cur"), auto;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-main);
	background-color: var(--dark);
	color: var(--light);
	overflow-x: hidden;
	cursor: url("cursor.cur"), auto;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}

/* hero */
.hero {
	color: var(--green);
	text-align: center;
	position: relative;
	height: 60vh;
	background: radial-gradient(#0f0f0f, #000);
	border-bottom: 4px dashed var(--green);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.hero h2 {
	font-size: var(--step-4);
	animation: pulse 3s infinite;
	position: relative;
	z-index: 1;
	line-height: 1.1;
	margin-bottom: var(--space-md);
}

.hero p {
	font-size: var(--step-2);
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	z-index: 1;
	line-height: 1.4;
	opacity: 0.9;
}

@media (max-width: 700px) {
	.hero h2 {
		font-size: var(--step-3);
	}

	.hero p {
		font-size: var(--step-1);
	}
}


.noise-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 110%;
	background-image: var(--noise);
	opacity: 0.2;
	animation: grain 1s steps(10) infinite;
	pointer-events: none;
	z-index: 0;
}

/* social */

.social {
	padding: var(--space-md) var(--space-sm);
	background: #0a0a0a;
	color: #f0f0f0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

.social h2 {
	font-size: var(--step-3);
	margin-bottom: var(--space-lg);
	color: var(--green);
	text-shadow: 0 0 10px var(--green);
}

.social-text {
	margin-bottom: var(--space-md);
	font-size: var(--step-1);
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
}

.social-container {
	display: flex;
	justify-content: center;
	gap: var(--space-lg);
	flex-wrap: wrap;
	padding: 0 1rem;
}

.social-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: var(--light);
	transition:
		transform 0.3s ease,
		filter 0.3s ease;
	width: auto;
}

.social-icon img {
	width: var(--step-4);
	/* vorher 50px */
	height: auto;
	margin-bottom: var(--space-sm);
	filter: grayscale(100%) brightness(0.8);
	transition: filter 0.3s ease;
}

.social-icon span {
	font-size: var(--step-0);
	opacity: 0.7;
	transition: opacity 0.3s;
	text-align: center;
}

.social-icon:hover {
	transform: scale(1.08);
}

.social-icon:hover img {
	filter: grayscale(0%) brightness(1);
}

.social-icon:hover span {
	opacity: 1;
}

/* description */

.description {
	padding: var(--space-md) var(--space-sm);
	background: #0a0a0a;
	color: #f0f0f0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	border-bottom: 2px dashed #555;
}

.description h2 {
	font-size: var(--step-3);
	margin-bottom: var(--space-lg);
	color: var(--green);
	text-shadow: 0 0 10px var(--green);
}

.description-text {
	margin-bottom: var(--space-md);
	font-size: var(--step-1);
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
	text-align: left;
}