@keyframes slideInRight {
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInLeft {
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

:root {
	--green: #00cc6e;
	--dark: #0a0a0a;
	--light: #f0f0f0;
	--noise: url('noise.webp');
	--font-main: 'VT323', monospace;
	--space-xs: 0.5rem;
	--space-sm: 1rem;
	--space-md: 2rem;
	--space-lg: 3rem;
	--space-xl: 4rem;
	--step--2: clamp(0.57rem, 0.55rem + 0.11vw, 0.67rem);
	--step--1: clamp(0.83rem, 0.78rem + 0.2vw, 1rem);
	--step-0: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
	--step-1: clamp(1.125rem, 1rem + 0.5vw, 1.5rem);
	--step-2: clamp(1.5rem, 1.25rem + 1vw, 2.25rem);
	--step-3: clamp(2.25rem, 2rem + 1.5vw, 3.75rem);
	--step-4: clamp(3.75rem, 3rem + 2vw, 6.25rem);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

html {
	scroll-behavior: smooth
}

body {
	font-family: var(--font-main);
	background-color: var(--dark);
	color: var(--light);
	overflow-x: hidden;
	cursor: url('cursor.cur'), auto;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}

.news {
	padding: var(--space-md) var(--space-sm);
	background: repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03) 1px, transparent 1px, transparent 2px);
	text-align: center;
	min-height: 100vh;
}

.news h2 {
	font-size: var(--step-3);
	margin-bottom: var(--space-lg);
	color: var(--green);
	text-shadow: 0 0 10px var(--green);
}

#news-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
	justify-content: center;
	align-items: stretch;
	text-align: left;
}

.news-item {
	position: relative;
	width: 100%;
	max-width: 1000px;
	height: auto;
	margin: 0 auto var(--space-lg);
	background-color: rgba(0, 0, 0, 0.3);
	padding: var(--space-lg);
	border-radius: var(--space-sm);
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	text-align: left;
}

.news-item h3 {
	color: var(--green);
	font-size: var(--step-2);
	font-family: var(--font-main);
	margin-bottom: var(--space-md);
}

.news-item>p {
	flex-grow: 1;
	font-size: var(--step-1);
	margin-bottom: var(--space-sm);
	white-space: pre-line;
	line-height: 1.6;
	opacity: 0.9;
}

.news-item a {
	color: var(--green);
	text-decoration: none;
}

.images-item {
	position: relative;
	width: 100%;
	max-width: 1000px;
	max-height: 450px;
	margin: 0 auto var(--space-lg);
	background-color: rgba(0, 0, 0, 0.3);
	padding: var(--space-lg);
	border-radius: var(--space-sm);
	overflow: hidden;
	box-shadow: 0 -5 15px rgba(0, 0, 0, 0.2);
	text-align: left;
	display: flex;
	gap: 16px;
	align-items: flex-start;

	flex-direction: row;
}

.image-wrapper {
	position: relative;
	height: 100%;
	width: auto;
	aspect-ratio: 1 / 1;
	flex-shrink: 0;
	overflow: hidden;
}

.info-container {
	position: relative;
	margin-left: var(--space-xs);
	flex-grow: 1;
	min-width: 200px;
	height: 100%;
}

.image-info {
	margin-left: var(--space-xs);
	padding-right: var(--space-md);
	flex-grow: 1;
	min-width: 200px;
	overflow-y: auto;
	scrollbar-gutter: stable;
}

.image-info h3 {
	color: var(--green);
	font-size: var(--step-2);
	font-family: var(--font-main);
	margin-bottom: var(--space-md);
	flex-shrink: 0;
}

.image-info p {
	flex-grow: 1;
	font-size: var(--step-1);
	margin-bottom: var(--space-sm);
	white-space: pre-line;
	line-height: 1.6;
	opacity: 0.9;
}

.image-info a {
	color: var(--green);
	text-decoration: none;
}

.image-info>p,
.image-info>a {
	overflow-y: auto;
}

.image-info>p,
.image-info>a {
	max-height: 100%;
}

.image-wrapper img {
	height: 100%;
	width: auto;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	display: block;
	border-radius: var(--space-xs);
}

.slide-img {
	position: relative;
	transition: transform 0.25s ease, opacity 0.25s ease;
	will-change: transform, opacity;
}

.slide-out-left {
	transform: translateX(-100%);
	opacity: 0.7;
	transition-timing-function: ease-in;
}

.slide-out-right {
	transform: translateX(100%);
	opacity: 0.7;
	transition-timing-function: ease-in;
}

.slide-in-right {
	transform: translateX(100%);
	opacity: 0;
	animation: slideInRight 0.25s forwards ease-out;
}

.slide-in-left {
	transform: translateX(-100%);
	opacity: 0;
	animation: slideInLeft 0.25s forwards ease-out;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: var(--step-2);
	border: none;
	width: var(--step-3);
	height: var(--step-3);
	cursor: pointer;
	border-radius: var(--step-0);
	display: flex;
	align-items: center;
	justify-content: center;
}


.prev {
	left: 10px;
}

.next {
	right: 10px;
}

.slide-counter {
	position: absolute;
	bottom: 10px;
	right: 50%;
	transform: translateX(50%);
	z-index: 10;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 4px 10px;
	border-radius: 6px;
	font-size: 1rem;
	font-weight: bold;
}

.prev:hover,
.next:hover {
	color: var(--green);
}

.news-date {
	position: relative !important;
	margin-top: var(--space-lg);
	padding-top: var(--space-sm);
	border-top: 1px solid #555;
	color: #8A8A8A;
	text-align: right;
	pointer-events: none;
}

.news-date p,
.news-date-image p {
	margin: 0;
	margin-bottom: 0;
	font-size: var(--step-0);
	color: #8a8a8a;
	white-space: pre-line;

	opacity: 0.9;
}

.news-date-image {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: var(--space-sm);
	border-top: 1px solid #555;
	color: #8A8A8A;
	text-align: right;
	pointer-events: none;
}

.input-wrapper {
	position: relative;
	width: 80%;
	max-width: 800px;
	margin: 0 auto var(--space-lg);
}

.search-icon {
	position: absolute;
	top: 50%;
	left: var(--space-sm);
	transform: translateY(-50%);
	height: var(--step-1);
	width: var(--step-1);
	pointer-events: none;
	opacity: 0.7;
}

#search {
	color: var(--light);
	background-color: rgba(0, 0, 0, 0.3);
	padding: var(--space-sm) var(--space-sm) var(--space-sm) calc(var(--space-sm) * 3);
	border-radius: var(--space-sm);
	border: 2px solid var(--green);
	font-size: var(--step-0);
	font-family: var(--font-main);
	width: 100%;
	box-sizing: border-box;
}

#search:focus {
	outline: none;
	border-color: var(--green);
	box-shadow: 0 0 10px var(--green);
	;
}


@media (max-width: 800px) {
	.images-item {
		flex-direction: column;
		max-height: none;
	}

	.image-wrapper {
		width: 100%;
		height: auto;
	}

	.image-wrapper img {
		width: 100%;
		height: auto;
	}

	.image-info {
		margin-left: 0;
		width: 100%;
		margin-bottom: 80px;
	}

	#search {
		padding: var(--space-xs) var(--space-xs) var(--space-xs) calc(var(--space-xs) * 4);
		border-radius: var(--space-xs);
		font-size: var(--step--1);
	}

	.search-icon {
		left: var(--space-xs);
		height: var(--step-0);
		width: var(--step-0);
	}
}

@media (min-width: 800px) {
	.image-info {
		max-height: 280px;
	}

	.image-info::-webkit-scrollbar {
		width: 10px;
		position: absolute;
	}

	.image-info::-webkit-scrollbar-thumb {
		background-color: #00cc6e;
		border-radius: 8px;
		margin-right: -10px;
		border: 3px solid transparent;
		background-clip: padding-box;
	}

	.image-info::-webkit-scrollbar-track {
		background: transparent;
		margin-top: 8px;
		margin-bottom: 16px;
	}

	.image-info {
		scrollbar-width: thin;
		scrollbar-color: #00cc6e transparent;
	}
}