:root {
     --green: #00cc6e;
     --dark: #0a0a0a;
     --light: #f0f0f0;
     --noise: url('noise.webp');
     --font-main: 'VT323', monospace;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --space-xl: 4rem;
  --step--2: clamp(0.57rem, 0.55rem + 0.11vw, 0.67rem);
  --step--1: clamp(0.83rem, 0.78rem + 0.2vw, 1rem);
  --step-0: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
  --step-1: clamp(1.125rem, 1rem + 0.5vw, 1.5rem);
  --step-2: clamp(1.5rem, 1.25rem + 1vw, 2.25rem);
  --step-3: clamp(2.25rem, 2rem + 1.5vw, 3.75rem);
  --step-4: clamp(3.75rem, 3rem + 2vw, 6.25rem);
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box 
}
 html {
     scroll-behavior: smooth 
}
 body {
     font-family: var(--font-main);
     background-color: var(--dark);
     color: var(--light);
     overflow-x: hidden;
     cursor: url('cursor.cur'), auto;
     -ms-overflow-style: none;
}
 ::-webkit-scrollbar {
     display: none;
}

.news {
  padding: var(--space-md) var(--space-sm);
  background: repeating-linear-gradient(to bottom, rgba(255,255,255,0.03), rgba(255,255,255,0.03) 1px, transparent 1px, transparent 2px);
  text-align: center;
  min-height: 100vh;
}

.news h1 {
  font-size: var(--step-3);
  margin-bottom: var(--space-lg);
  color: var(--green);
  text-shadow: 0 0 10px var(--green);
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
    text-align: left;
}

.news-item {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto var(--space-lg);
  background-color: rgba(0, 0, 0, 0.3);
  padding: var(--space-lg);
  border-radius: var(--space-sm);
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
}

.news-item h3 {
  color: var(--green);
  font-size: var(--step-2);
  font-family: var(--font-main);
  margin-bottom: var(--space-md);
}

.news-item > p {
    flex-grow: 1;
    font-size: var(--step-1);
    margin-bottom: var(--space-sm);
    white-space: pre-line;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    opacity: 0.9;
}

.news-date {
    font-size: var(--step-0);
    text-align: right;
    color: #8A8A8A;
    border-top: 1px solid #555;
    padding-top: var(--space-sm);
    margin-top: var(--space-md);
}